@charset "utf-8";
/* Reset */
/* 웹접근성: outline 제거하지 않음 - 키보드 포커스 표시에 필요
   :focus-visible로 마우스 사용 시 outline 숨김, 키보드 사용 시 표시 */
*:focus {
  outline: 2px solid var(--primary, #8B6914);
  outline-offset: 2px;
}
*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-visible {
  outline: 2px solid var(--primary, #8B6914);
  outline-offset: 2px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
}
html {
  font-size: 14px;
}
body {
  width: 100%;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.2;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body,
input,
select,
textarea,
button {
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #3b3b3b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
img,
fieldset {
  border: none;
}
address,
cite,
code,
em {
  font-style: normal;
  font-weight: normal;
}
label,
img,
input,
select,
textarea,
button {
  vertical-align: middle;
}
.hide,
caption,
legend {
  line-height: 0;
  overflow: hidden;
}
hr {
  display: none;
}
main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}
a {
  color: #262626;
  text-decoration: none;
}
/* Form */
textarea {
  border: 1px solid #dbdbdb;
}
select {
  height: 32px;
  font-size: 0.7rem;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 5px;
}
input[type="tel"],
input[type="time"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="file"],
input[type="url"],
input[type="number"],
input[type="date"],
textarea {
  width: 100%;
  height: 34px;
  color: #484848;
  border: none;
  background: #f2f2f2;
  text-indent: 17px;
  border-radius: 20px;
  vertical-align: middle;
}
input::-webkit-input-placeholder {
  color: #979797;
  line-height: 1;
}
textarea {
  padding: 5px 0;
}
select:focus,
textarea:focus,
input:focus {
  border: none;
}
input[type="tel"][readonly],
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
input[type="search"][readonly],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
}
textarea[readonly],
textarea[disabled] {
  padding: 11px;
  color: #666;
  font-weight: normal;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #c0c0c0;
}
/* 변수선언 */
:root {
  /* size */
  /* body 기본 16px 기준 */
  --h1: 4rem; /* 64px */
  --h2: 3rem; /* 48px */
  --h3: 1.57rem; /* 22px */
  --h4: 1.43rem; /* 20px */
  --h5: 1.14rem; /* 16px */
  --subTitle: 1.07rem; /* 15px */
  --baseSize: 1rem; /* 14px */
  --infoSize: 0.93rem; /* 13px */
  --subInfoSize: 0.86rem; /* 12px */
  --smallest: 0.71rem; /* 10px */
  /* color - 북앤커피 테마 (웜 앰버/브라운 톤) */
  --primary: #8B6914;
  --primary75: rgba(139, 105, 20, 0.75);
  --primary50: rgba(139, 105, 20, 0.5);
  --primary25: rgba(139, 105, 20, 0.25);
  --secondary: #C4A035;
  --secondary75: rgba(196, 160, 53, 0.75);
  --secondary50: rgba(196, 160, 53, 0.5);
  --secondary25: rgba(196, 160, 53, 0.25);
  --point-color: #D4A03A;
  --point-color2: #E5B84A;
  --point-color3: #F0C96A;
  --mainVisual-title: #f6a023;
  --perform-hover: #ffbe50;
  --button-basic: #d94785;
  --button-hover: rgba(21 7, 71, 133, 0.5);
  --text: #191c3d;
  --subtle-text: #7579a0;
  --bg-01: #e5e9fd;
  --bg-02: #eef0ff;
  --gray1-color: #333;
  --gray2-color: #3b3b3b;
  --gray3-color: #989898;
  --gray4-color: #bcbcbc;
}
